{% if site.comment.enable and page.title %}
{% if site.comment.provider == "gitalk" %}
<!-- Gitalk -->
<div id="gitalk-container"></div>
{% elsif site.comment.provider == "disqus" %}
<!-- Disqus -->
<div id="disqus_thread"></div>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% elsif site.comment.provider == "livere" %}
<!-- Livere -->
<div id="lv-container" data-id="city" data-uid="{{ site.livere.data-uid }}">
    <noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
</div>
{% endif %}
{% endif %}