{% if site.comment.enable and page.title %}
{% if site.comment.provider == "gitalk" %}
<script>
    // Gitalk
    const gitalk = new Gitalk({
        clientID: "{{ site.gitalk.client_ID }}",
        clientSecret: "{{ site.gitalk.client_secret }}",
        repo: "{{ site.gitalk.repo }}",
        owner: "{{ site.gitalk.owner }}",
        admin: ["{{ site.gitalk.owner }}"],
        id: '{{ page.date | date: "%Y%m%d%H%M%S" }}',
        distractionFreeMode: false
    });
    gitalk.render("gitalk-container");
</script>
{% elsif site.comment.provider == "disqus" %}
<script>
    // Disqus
    const disqus_config = function () {
    this.page.url = '{{ site.disqus.canonical_url }}'
    this.page.identifier = '{{ page.date | date: "%Y%m%d%H%M%S" }}';
    };
    (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://{{ site.disqus.shortname }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
{% elsif site.comment.provider == "livere" %}
<script type="text/javascript">
    (function(d, s) {
        var j, e = d.getElementsByTagName(s)[0];

        if (typeof LivereTower === 'function') { return; }

        j = d.createElement(s);
        j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
        j.async = true;

        e.parentNode.insertBefore(j, e);
    })(document, 'script');
</script>
{% endif %}
{% endif %}