{% if post %}
<article class="post">
    <header>
        <div class="title">
            <!-- 标题/title -->
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <!-- 副标题/subtitle -->
            <p>{{ post.subtitle }}</p>
        </div>
        <div class="meta">
            <time class="published" datetime="{{ post.date }}">{{ post.date | date: "%Y-%m-%d %H:%M" }}</time>
            {% if post.author == null or post.author == site.username %}
            <a href="/about" class="author">
                <span class="name">{{ site.username }}</span>
                <img src="{{ site.baseurl }}/images/avatar.jpg" alt="avatar"/>
            </a>
            {% else %}
            <span class="name">{{ post.author }}</span>
            {% endif %}
        </div>
    </header>
    <a href="{{ post.url }}" class="image featured">
        <img src="{% if post.cover %}{{ post.cover }}{% else %}{{ site.baseurl }}/images/default_cover.jpg{% endif %}"
             alt="{{ post.title }}"/>
    </a>
    <!-- 内容预览/Content Preview -->
    <div class="content">
        {% if site.article_introduction_format=='post.excerpt' %} {{ post.excerpt }}
        {% else %} {{ post.content | strip_html | truncatewords: 50 }} {% endif %}
    </div>
    <footer>
        <ul class="actions">
            <li>
                <a href="{{ post.url }}" class="button large">{{ site.data.locales[site.localization].continue-reading
                    }}</a>
            </li>
        </ul>
        <ul class="stats">
            <li>
                <i class="icon solid fa-tag"
                   title="{{ site.data.locales[site.localization].tags }}">
                </i>
            </li>
            <li>
                {% for tag in post.tags %}
                <a href="/archive?tag={{ tag }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
                {% endfor %}
            </li>
            <li>
                <i class="icon solid fa-bars"
                   title="{{ site.data.locales[site.localization].categories }}">
                </i>
            </li>
            <li>
                {% for category in post.categories %}
                <a href="/archive?category={{ category }}"> {{ category }}</a>{% unless forloop.last %}/ {% endunless %}
                {% endfor %}
            </li>
        </ul>
    </footer>
</article>
{% else %}
<article class="post">
    <header>
        <div class="title">
            <h2>{{ page.title }}</h2>
            <p>{{ page.subtitle }}</p>
        </div>
        <div class="meta">
            <time class="published" datetime="{{ page.date }}">{{ page.date | date: "%Y-%m-%d %H:%M" }}</time>
            {% if page.author == null or page.author == site.username %}
            <a href="/about" class="author">
                <span class="name">{{ site.username }}</span>
                <img src="{{ site.baseurl }}/images/avatar.jpg" alt="头像"/>
            </a>
            {% else %}
            <span class="name">{{ page.author }}</span>
            {% endif %}
        </div>
    </header>
    <span class="image featured">
        <img src="{% if page.cover %}{{ page.cover }}{% else %}{{ site.baseurl }}/images/default_cover.jpg{% endif %}"
             alt="{{ page.title }}"/>
    </span>
    {{ page.content }}
    <footer>
        <ul class="stats">
            <li>
                <i class="icon solid fa-tag"
                   title="{{ site.data.locales[site.localization].tags }}">
                </i>
            </li>
            <li>
                {% for tag in page.tag %}
                <a href="/archive?tag={{ tag }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
                {% endfor %}
            </li>
            <li>
                <i class="icon solid fa-bars"
                   title="{{ site.data.locales[site.localization].categories }}">
                </i>
            </li>
            <li>
                {% for category in page.category %}
                <a href="/archive?category={{ category }}"> {{ category }}</a>{% unless forloop.last %}/ {% endunless %}
                {% endfor %}
            </li>
        </ul>
    </footer>
</article>
{% endif %}