<ul class="actions pagination">
    <li>
        <a href="{% if paginator.previous_page==1 %}/{% else %}/page/{{ paginator.previous_page }}{% endif %}"
           class="{% if paginator.previous_page %}button large previous{% else %}disabled button large previous{% endif %}">
            {{ site.data.locales[site.localization].previous-page }}
        </a>
    </li>
    {% assign page_quantifier = site.data.locales[site.localization].page_quantifier %}
    {% assign post_quantifier = site.data.locales[site.localization].post_quantifier %}
    <li>
        <p class="button large">{{ paginator.page }} / {{ paginator.total_pages }}{{ page_quantifier}}</p>
    </li>
    <li>
        <a href="/page/{{ paginator.next_page }}"
           class="{% if paginator.next_page %}button large previous{% else %}disabled button large previous{% endif %}">
            {{ site.data.locales[site.localization].next-page }}
        </a>
    </li>
</ul>