<section>
    <h3>{{ site.data.locales[site.localization].statistics }}</h3>
    <ul class="posts">
        <li>
            <article>
                <header>
                    <h3><i class="fa fa-tags">{{ site.data.locales[site.localization].recent-tags }}</i></h3>
                    {% for tag in site.tags | reverse | limit: 5 %}
                    <a href="/archive?tag={{ tag[0] }}">{{ tag[0] }}</a>
                    {% unless forloop.last %}, {% endunless %} {% endfor %}
                </header>
            </article>
        </li>
    </ul>
    <ul class="posts">
        <li>
            <article>
                <header>
                    <h3><i class="fa fa-bars">{{ site.data.locales[site.localization].recent-categories }}</i></h3>
                    {% for category in site.categories | reverse | limit: 5 %}
                    <a href="/archive?category={{ category[0] }}">{{ category[0] }}</a>
                    {% unless forloop.last %}, {% endunless %} {% endfor %}
                </header>
            </article>
        </li>
    </ul>
    <ul class="posts">
        <li>
            <article>
                <header>
                    <h3><i class="fa fa-tags">{{ site.data.locales[site.localization].most-tags }}</i></h3>
                    {% for tag in site.tags | sort: 'last' | reverse | limit: 5 %}
                    <a href="/archive?tag={{ tag[0] }}">{{ tag[0] }}</a>
                    {% unless forloop.last %}, {% endunless %} {% endfor %}
                </header>
            </article>
        </li>
    </ul>
    <ul class="posts">
        <li>
            <article>
                <header>
                    <h3><i class="fa fa-tags">{{ site.data.locales[site.localization].most-categories }} </i></h3>
                    {% for category in site.categories | sort: 'last' | reverse | limit: 5 %}
                    <a href="/archive?category={{ category[0] }}">{{ category[0] }}</a>
                    {% unless forloop.last %}, {% endunless %} {% endfor %}
                </header>
            </article>
        </li>
    </ul>
</section>